<div id="modalVictory" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img class="img-responsive center-block" src="assets/scimitar_and_enterprise.jpg" alt="">
      </div>
      <div class="modal-body">
        <h3>Gratulacje
          <span class="js-name">{{player.name}}</span>! Wygrałeś/aś grę!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zagraj ponownie!</button>
      </div>
    </div>
  </div>
</div>