<div id="modalDefeat" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="img-responsive center-block" src="assets/i_borg_tng.jpg" alt="">
            </div>
            <div class="modal-body">
                <h3>Niestety
                    <span class="js-name">{{player.name}}</span> przegrałeś/aś grę! Przydałby Ci się intensywny trening na holodeku! Poćwicz trochę
                    i może spróbujesz jeszcze raz?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zagraj ponownie!</button>
            </div>
        </div>
    </div>
</div>