<div class="container title">
  <h2>
    <img class="img-responsive center-block" src="assets/tos_opening_logo.png" alt="">
    <span>Battle&reg;</span>
  </h2>
  <h3 class="text-center">Witaj w grze
    <span class="label label-default">Klingon</span>
    <span class="label label-default">Romulanin</span>
    <span class="label label-default">Kardasjanin</span>
  </h3>
  <h4>Zasady gry są takie same jak w znanej od wieków popularnej grze "Papier, kamień i nożyce"!
    <br>Wygrywa ten z graczy, który pierwszy zdobędzie 10 pkt.!</h4>
  <img class="img-responsive center-block battle" src="assets/battle.jpg" alt="">
</div>