<div class="main">
    <h1 [hidden]="true">Witaj w grze {{title}}!!</h1>
    <button id="js-openModalHelloButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalHello">
        Otwórz
    </button>
    <app-modal-hello></app-modal-hello>
    <app-game-introduction></app-game-introduction>
    <app-new-game></app-new-game>
    <button id="js-openModalGetNameButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalName">
        Otwórz
    </button>
    <app-modal-get-name></app-modal-get-name>
    <app-player-selection></app-player-selection>
    <app-results-table></app-results-table>
    <button id="js-openModalVictoryButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalVictory">
        Otwórz
    </button>
    <app-modal-victory></app-modal-victory>
    <button id="js-openModalDefeatButton" type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#modalDefeat">
        Otwórz
    </button>
    <app-modal-defeat></app-modal-defeat>
</div>