<div id="modalHello" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img class="img-responsive center-block" src="assets/what_you_leave_behind.jpg" alt="">
      </div>
      <div class="modal-body">
        <h3>Witaj Poszukiwaczu Przygód!
          <br> Zagraj z Klingonem, Romulaninem i Kardasjaninem w grę Star Trek Battle&reg;!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" form="_form" id="addName" class="btn btn-default" data-dismiss="modal" (click)="openGetNameModal()">Zagraj!</button>
      </div>
    </div>
  </div>
</div>