<div id="js-playerPickElement" class="container" *ngIf="gameStarted">
  <div class="row text-center">
    <button class="Klingon btn" (click)="setPlayersPick($event)">
      <img src="assets/logo_klingon.png" class="img-responsive center-block" alt="">
      <span class="badge">
        <i class="far fa-hand-rock" aria-hidden="true"></i>
      </span>Klingon
    </button>
    <button class="Romulanin btn" (click)="setPlayersPick($event)">
      <img src="assets/logo_romulan.png" class="img-responsive center-block" alt="">
      <span class="badge">
        <i class="far fa-hand-paper" aria-hidden="true"></i>
      </span>Romulanin
    </button>
    <button class="Kardasjanin btn" (click)="setPlayersPick($event)">
      <img src="assets/logo_cardassian.png" class="img-responsive center-block" alt="">
      <span class="badge">
        <i class="far fa-hand-scissors" aria-hidden="true"></i>
      </span>Kardasjanin
    </button>
  </div>
</div>