<div id="js-playerPickElement" class="container">
  <div class="row text-center">
    <button class="btn" (click)="setPlayersPick('Klingon')">
      <img src="assets/logo_klingon.png" class="img-responsive center-block" alt="">
      <span class="badge">
        <i class="far fa-hand-rock" aria-hidden="true"></i>
      </span>Klingon
    </button>
    <button class="btn" (click)="setPlayersPick('Romulanin')">
      <img src="assets/logo_romulan.png" class="img-responsive center-block" alt="">
      <span class="badge">
        <i class="far fa-hand-paper" aria-hidden="true"></i>
      </span>Romulanin
    </button>
    <button class="btn" (click)="setPlayersPick('Kardasjanin')">
      <img src="assets/logo_cardassian.png" class="img-responsive center-block" alt="">
      <span class="badge">
        <i class="far fa-hand-scissors" aria-hidden="true"></i>
      </span>Kardasjanin
    </button>
  </div>
</div>